.scroll {
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 60s;
  will-change: transform;
}
@keyframes scroll {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
