.marquee {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 60s;
  will-change: transform;
}
@keyframes marquee {
  from {
    transform: translate(50%);
  }
  to {
    transform: translate(-150%);
  }
}
